#request-bar {
    height: 3;
    margin: 1 1;
}

#method-select {
    width: 15;
}

#url-input {
    width: 1fr;
}

#main-container {
    height: 1fr;
}

.pane {
    width: 1fr;
    height: 1fr;
    border: solid $accent;
    margin: 0 1;
}

.section-title {
    text-style: bold;
    background: $accent;
    color: $text;
    padding: 0 1;
}

#status-label {
    height: 1;
    margin: 0 1;
    text-style: bold;
}

.secondary-tabs {
    margin-left: 1;
}

Switch {
    width: auto;
    height: auto;
}

.switch-label {
    height: 3;
    align: center middle;
    width: auto;
}

.cookies-switch {
    align: left middle;
    width: auto;
    height: auto;
    column-span: 2;
}

.script-status {
    text-style: bold;
    background: $accent;
    color: $text;
    padding: 0 1;
    width: 100%;
}

.script-success {
    background: #007200;
    color: black;
}

.script-failed {
    background: red;
    color: white;
}

.saved-route-row {
    height: 3;
    align: left middle;
}

.route-label {
    width: 1fr;
    height: auto;
    content-align: left middle;
}

.action-btn {
    min-width: 8;
    height: auto;
    margin-left: 1;
    margin-right: 1;
}
